.ql-container {
  min-height: 56vh;
  max-height: 58vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .ql-container {
    min-height: 55vh;
    max-height: 55vh;
  }
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  background-color: #ffffff;
}

.action-container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 17px;
}
